.flavours {
    padding: 50px 0;
    margin-top: 50px;
    background: linear-gradient(to bottom, #FF8882 0%, #FFC2B4 100%);
}

.flavours .section-title {
    margin-bottom: 30px;
    position: relative;
    margin-top: 40px;
}

.flavours .section-title .section-number2 {
    background-image: url(./assets/Rayitas-white.png);
    background-size: cover;
    width: 326px;
    height: 99px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: -40px;
    right: 0 !important; /* Alinea a la derecha con importancia */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    text-align: right;
    margin-top: 10px;

}


.flavours .section-title h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(8vw + 10px); /* Ajusta el tamaño de la fuente de forma responsiva */
    font-weight: 700;
    position: relative;
    color: white;
    text-align: right;
    width: 100%;
    top: 25px;
    padding-top: 10px;
}

.flavours .section-title .highlight {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

/* Media queries para asegurarse de que el texto sea responsivo */
@media (max-width: 768px) {
    .flavours .section-title .section-number {
        width: 200px; /* Ajusta el tamaño según sea necesario */
        height: 60px;
        font-size: 1rem;
        top: -30px;
    }

    .flavours .section-title h2 {
        font-size: calc(6vw + 10px); /* Ajusta el tamaño de la fuente de forma responsiva */
        top: 20px;
    }
}

@media (max-width: 576px) {
    .flavours .section-title .section-number {
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: 50px;
        font-size: 0.8rem;
        top: -20px;
    }

    .flavours .section-title h2 {
        font-size: calc(5vw + 10px); /* Ajusta el tamaño de la fuente de forma responsiva */
        top: 15px;
    }
}


.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    background-color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-img-top {
    width: 37px !important;
    height: 37px;
    border-radius: 5px;
    object-fit: contain;
    left: 0;
}

.card-body {
    text-align: left;
    padding: 0;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #123A49;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #123A49;
    margin: 10px 0;
}

.btn{
    background-color: #f7797d !important;;
    border: none!important;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 20px;
    right: 0!important;
    color: white!important;

}

